body {
	background: #f1f1f2;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	font-weight: bold;
	text-align: center;

}
p {
	font-size: 16px;
	color: #cdcdcd;
}

.jumbotron {
	background: #f1f1f2;
	color: #d4938b;
	text-align: center;
	font-family: 'Poiret One', cursive;
}
.jumbotron p {
	color: #d4938b;
	font-size: 26px;
}
.jumbotron img {
	border-radius: 50%;
}
.btn-primary {
	color: #d4938b;
	background-color: transparent;
	border-color: #d4938b;
	margin-bottom: 5px;

}


.btn-primary:hover {
	color: #d4938b;
	background-color: white;
	border-color: #d4938b;
}
.glyphicon-large {
	font-size: 100px;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.list {
	font-size: 16px;
	color: #f1f1f2;
	background-color: #f1f1f2
}


