body {
	background: #d4938b;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
	font-weight: bold;
	text-align: center;

}
p {
	font-size: 16px;
	color: #cdcdcd;
}

.jumbotron {
	background: #f1f1f2;
	color: #d4938b;
	font-family: 'Poiret One', cursive;
	text-align: center;
}
.jumbotron p {
	color: #d4938b;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	font-weight: 900;
	text-align: center;
	font-size: 45px;
}
.jumbotron img {
	border-radius: 50%;
}
.btn-primary {
	color: #d4938b;
	background-color: transparent;
	border-color: #d4938b;
	margin-bottom: 5px;
	height: 200px;
  	width: 200px;
  	border-radius: 100%;
  	display: inline-flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;

}


.btn-primary:hover {
	color: #d4938b;
	background-color: white;
	border-color: #d4938b;
}
.glyphicon-large {
	font-size: 100px;
}
.call-to-action {
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}

.Description {
	background: #d4938b;
	color: #f1f1f2;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	text-align: center;
}

.list {
	font-size: 16px;
	color: #d4938b;
	background-color: #d4938b
	font-family: 'Raleway', sans-serif;
}




